<input placeholder="my width" {{on 'blur' this.changeWidth}} aria-label='test' value='100'>

<CloudinaryImage @publicId={{this.picture}} @options={{hash width='60' height='60' crop='fill' gravity='faces'
    dpr='auto'
    fetch_format='auto'
    quality='auto'
    default_image='placeholder-user.png'}} />

<CloudinaryImage @publicId={{this.picture}} @options={{hash width=this.width height='160'
    dpr='auto'
    fetch_format='auto'
    quality='auto'
    default_image='placeholder-user.png'}} />

Video:
<video controls>
  <CloudinaryVideo @publicId='dog.mp4' @options={{hash width='200' height='160' }}/>
</video>

Resource list:

<input placeholder="Set resourcelist tag" {{on 'blur' this.setResourceTag}} aria-label='test' value='logo'>

<CloudinaryResourceList @cloudinaryTag={{this.tag}} as |resourceList|>
  {{#each resourceList.items as |item|}}
  <span>{{item.public_id}}</span>
  <br>
  {{/each}}
</CloudinaryResourceList>
